  :root {
   --color-brand: #2E2F42;
   --color-primary: #FFFFFF;
   --color-primaty-light: #F4F4FD;


  }
  
  body {
   font-family: 'Roboto', sans-serif;

  }
 .logo {
    color: #4d5ae5;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    letter-spacing: 0.54px;
    text-transform: uppercase;
 }
 span {
    color: #2E2F42;
    ;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    letter-spacing: 0.54px;
    text-transform: uppercase;
 }
.nav-link {
    color: var(--color-brand);
    font-family: Raleway, sans-serif;
    font-size: 16px;
    letter-spacing: 0.03em;
 }
  .header-link:active {
   color: #404BBF;
   font-family: Roboto;
   font-size: 16px;
  }
 .address-link {
   color: #434455;
   font-family: Roboto;
   font-style: normal;
   font-size: 16px;
 }
 .address-link:active {
    color: #404BBF;
    font-family: Roboto;
    font-size: 16px;  
 }
 .effective-section {
    background-color: var(--color-brand);
 }
 .effect-title {
    color: var(--color-primary);
 }
 .button-primary {
    background: #4D5AE5;
    color: var(--color-primary);
 }
 .button-primary:hover {
    background: #404BBF;
    cursor: pointer;
 }
  .section-2 {
   background-color: var(--color-primary);
  }
 .title {
  color: var(--color-brand);
  font-family: Roboto;
  font-size: 36px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
 }
 .text {
   color: #434455;
  font-family: Roboto;
  font-size: 16px;
 }
 .light-bt {
  background: var(--color-primaty-light);
  width: 1440px;
  height: 732px;
 }
 .card {
   color: var(--color-brand);
   font-family: Roboto;
   font-size: 36px;
 }
 .name {
   color: var(--color-brand);
  font-family: Roboto;
  font-size: 20px;
 }
 .prof {
   color: #434455;
  font-family: Roboto;
  font-size: 16px;
 }
 .portfolio {
   color: var(--color-brand);
  font-family: Roboto;
  font-size: 36px;
  letter-spacing: 0.02em;
 }
 .card-content {
   color: var(--color-brand);
  font-family: Roboto;
  font-size: 20px;
  text-align: left;
 }
 .card-text {
   color: #434455;
  font-family: Roboto;
  font-size: 16px;
  letter-spacing: 0.02em;
  text-align: left;
 }
 .footer-section {
   background-color: var(--color-brand);

 }
.logo-2 {
   color: #4d5ae5;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
.footer-text {
   color: var(--color-primaty-light);
   font-family: Roboto;
font-size: 16px;
letter-spacing: 0.02em;
text-align: left;
font-family: Roboto;
font-size: 16px;
letter-spacing: 0.02em;
text-align: left;
}
.logo-footer-accent {
   color: var(--color-primaty-light);
}